name: Build and Deploy to Azure Web App

on:
  push:
    branches:
      - master
    paths:
      - 'src/Gateway/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.x'

      - name: Build Project
        run: dotnet build src/Gateway/Gateway.csproj --configuration Release

      - name: Publish Project
        run: dotnet publish src/Gateway/Gateway.csproj -c Release -o ./publish

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: published-app
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: published-app
          path: ./publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: your-azure-webapp-name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish
