name: Deploy ProductAPI to Azure Web App

on:
  push:
    branches:
      - master  # Or your default branch
    paths:
      - 'src/ProductAPI/**'

jobs:
  build-and-deploy:
    runs-on: windows-latest  # Choose 'ubuntu-latest' if your Azure Web App runs on Linux

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.x'  # Ensure this matches the version you use

    - name: Build and Publish .NET Core project
      run: |
        dotnet publish src/ProductAPI/ProductAPI.csproj -c Release -o ./publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: BrandTechProductAPI  # Replace with your Azure Web App name
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}  # Ensure you have this secret in your GitHub repo
        package: ./publish
